.postImageContainer {
  position: relative;
}

.postImage {
  cursor: pointer;
  transition: opacity 0.2s;
}

.postImage:hover {
  opacity: 0.7;
}

.prompt {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.postImageModal {
  background-color: rgba(0, 0, 0, 0.75);
}

.modalImageContainer {
  position: relative;
}

.modalImage {
  width: 100%;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 2;
}
